<div class='container ' style=''>
<p id="notice" class="alert alert-primary" role="alert"><%= notice %></p>

<h1 class='h1 '>Groups</h1>
<hr style='color:red;height:3px;background:red'>

<%= render 'form', group: @group %>
</div>
<%
=begin
  groups display
=end%>
<div class='container ' style='margin-top:50px;'>
  <div class='row'>
    <div class='col-sm-4'>
      <div class="panel panel-default">
        <div class="panel-heading">My Groups</div>
        <div class="panel-body">
          <% current_user.groups.all.each do |group| %>
          <div class='row'>
            <div class=col-md-6>
              <%= group.name %>
            </div>
             <div class=col-md-3>
             <%= link_to 'Select', group %>
            </div>
             <div class=col-md-3>
              <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class='col-sm-8'>
      <div class="panel  panel-success">
      <div class="panel-heading">  
        <% if @group_s %>
          <%= @group_s.name %>
          <%else%>
            Select Group
        <%end%>
      </div>
      <div class="panel-body">
       <div>
          <% if @group_s %>
            <%= form_tag("/groups/#{ @group_s.id}/addFriend", method: "post", class: "nifty_form") do %>
                <%= label_tag(:name, "Your Friend Name :") %>
                <%= text_field_tag(:name) %>
                <%= hidden_field_tag(:groupId, @group_s.id) %>
                <%= submit_tag("Add") %>

              <% end %>
          
       </div>
       <div>
        <% if !@friends.empty? %>
          <div class="row" style='margin-top:40px;'>
              <%= render :file => 'groups/show' %>
          </div>	
          <% else %>
          <div class="alert alert-info" role="alert" style='margin-top:40px;'> Empty ... Not Have Any Friend In .</div>
        <%end%>
        <%end%>
       </div>
      </div>
    </div>
    </div>
  </div>
</div>




 
