<h1>New Group</h1>

<%= form_with(model: @group, local: true) do |form| %>
 
 
  <p>
    <%= form.label :GroupName %><br>
    <%= form.text_field :groupName %>
  </p>
 
<p>
    <%= form.label :owner %><br>
    <%= form.text_field :owner %>
  </p>

 <p>
    <%= form.label :members %><br>
    <%= form.text_field :members %>
  </p>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
<%= link_to 'Back', groups_path %>