<%= form_with model: [@order, @friend], local: true, class: "mb-4" do |f| %>

  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-row">
        <div class="col-9">
        <%= f.text_field :name, class: "form-control", placeholder: "member name" %>
        </div>
        <div class="col-3">
        <%= f.submit "add", class: "btn btn-primary"%>
        </div>
    </div>
<% end %>